@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?93286199');
  src: url('fontello.eot?93286199#iefix') format('embedded-opentype'),
       url('fontello.woff?93286199') format('woff'),
       url('fontello.ttf?93286199') format('truetype'),
       url('fontello.svg?93286199#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?93286199#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: none;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 1.6em;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-plus-circled:before { content: '\e800'; } /* '' */
.icon-minus-circled:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-ok-circled:before { content: '\e803'; } /* '' */
.icon-cancel-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-angle-circled-left:before { content: '\e806'; } /* '' */
.icon-angle-circled-right:before { content: '\e807'; } /* '' */
.icon-angle-circled-up:before { content: '\e808'; } /* '' */
.icon-angle-circled-down:before { content: '\e809'; } /* '' */


.hdr-metabox label { 
	display:block; 
	font-weight:bold; 
	font-size: 1.2em;
}

.hdr-metabox p {
	margin-bottom: 14px;
}
 
.hdr-metabox span { 
	color:#777777; 
	display:block; 
}
 
.hdr-metabox h4 { 
	color:#777777; 
	font-size:1em; 
	margin:15px 6px; 
	text-transform:uppercase; 
}

.hdr-metabox input.date {
	width: 6em;
}

.hdr-metabox .add-remove input,
.hdr-metabox .add-remove select {
	width: 20em;
}

.hdr-metabox .repeating-field {
	position: relative;
}

.hdr-metabox .repeating-field .add-remove .dodelete {
	position: relative;
	top: 3px;
}

.hdr-metabox .repeating-field .add-another {
	position: absolute;
	left: 24em;
	bottom: 3px;
}

.hdr-metabox  fieldset {
	margin: 15px 0;
	border: 1px solid #ddd;
	padding: 10px;
}

.hdr-metabox legend {
	font-size: 1.2em;
	font-weight: bold;
}

.hdr-metabox .third-container {
	display: -webkit-flex;
  	display: flex;
  	margin-bottom: 15px;
  	 
}

.hdr-metabox .third-container .third {
	-webkit-flex: 2 0 0; 
   	flex: 2 0 0;
}

.hdr-metabox .third-container .third input,
.hdr-metabox .third-container .third select {
	width: 90%;
}

.hdr-metabox .third-container .third.three {
	  -webkit-flex: 1 0 0;
   flex: 1 0 0;
}

.hdr-metabox input[type="text"],
.hdr-metabox input[type="url"],
.hdr-metabox textarea {
  background: #efefef;
}